@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
.pretendard {
  font-family: "Pretendard-Regular", sans-serif;
}
.nomal {
  font-family: "";
  color: #6054ff;
}
.mobView-card {
  width: 600px;
  height: 100vh;
  box-shadow: 0 0 50px -3px rgba(0, 0, 0, 0.14);
  padding: 188px 64px;
}
.font-head {
  font-size: 1.75rem;
}
.btn1 {
  width: 472px;
  height: 68px;
  background-color: #6054ff;
  border-radius: 12px;
}

/* SignUp*/
.signUp-placeholder::placeholder {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.32px;
}
.signUp-input {
  @apply border-b-2 focus:border-black w-full text-lg outline-none py-4;
}
.signUp-lable {
  @apply text-lg font-semibold;
}
.mb50 {
  margin-bottom: 50px;
}
.required::after {
  content: "*";
  color: #6054ff;
  margin-left: 5px;
}
.singUp-err {
  color: #fd3259;
  font-size: 16px;
  margin-left: auto;
}
