@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 62.5%;
  background-color: #f2f2f2;
}

:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./assets/font/subset-Roboto-Medium.ttf") format("truetype");
}

.mobView-card {
  width: 600px;
  min-height: 100vh;
  padding: 20px 64px;
  background: white;
}
.btn1 {
  width: 472px;
  height: 68px;
  border-radius: 12px;
}
