@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 62.5%;
}

:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PretendardVariable";
  src: url("./assets/font/PretendardVariable.woff2") format("woff2");
}

.pretendard {
  font-family: "Pretendard-Regular", sans-serif;
}
.nomal {
  font-family: "";
}
.mobView-card {
  width: 600px;
  height: 100vh;
  box-shadow: 0 0 50px -3px rgba(0, 0, 0, 0.14);
  padding: 188px 64px;
}
.btn1 {
  width: 472px;
  height: 68px;
  border-radius: 12px;
}
